.header{
	background-image: url(../img/balloon.jpg);
	min-height: 1000px;
	background-size: cover;
	background-position: center;
	
}
.logo{
	display: inline-block;
	border-radius: 50%;
	background-color: #fff;
	padding: 10px;
}
.logo h3{
	font-family: 'Blackadder ITC', sans-serif;
	color: #71a4cf;
}
li{
width: 100px;
	background-color: green;
	padding: 5px;
	border-radius: 30px;
	display: inline-block;
	margin-right: 50px; 
	text-align: center;
}

li a{
	color: white;
	text-transform: uppercase;
}

li a: hover{
	color: white;
} 

.menu{
	position: relative;
	top: 40px;
}
.main-flex{
	display: flex;
	min-height: 700px;
}
.second-flex{
	margin: auto;
}
.main-title{
	text-align: center;
}

.main-title a{
	background-color: green;
	padding: 10px;
	border-radius: 10px;
	color: white;
}